<!DOCTYPE html>
<html>
<header>
	
<head>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="script.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>	

</body>

</body>
</html>
